/* body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
}

/* botones del body */
body > button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body > button:hover {
  background-color: #003670;
}

/* container de la lista */
#lista {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

#lista h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

/* botón obtener productos */
#lista #btnObtenerProductos {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: block;
  width: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#lista #btnObtenerProductos:hover {
  background-color: #007219;
}

/* tabla de productos */
#lista table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#lista th,
#lista td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  white-space: nowrap;
}

#lista th {
  background-color: #f2f2f2;
  color: #000000;
  font-weight: bold;
  border: 2px solid #474747; 
}

#lista td {
  background-color: #ffffff;
  color: #141414;
  border: 2px solid #a5a5a5; 
}


#lista tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

#lista tbody tr:hover {
  background-color: #e9e9e9;
}

/* botones dentro de la tabla */
#lista button.btnBorrar,
#lista button.btnModificar {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

/* botones dentro de la tabla de Borrar */
#lista button.btnBorrar {
  background-color: #218838;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#lista button.btnBorrar:hover {
  background-color: #c82333;
}

/* botones dentro de la tabla de Modificar*/
#lista button.btnModificar {
  background-color: #218838;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#lista button.btnModificar:hover {
  background-color: #ffd147;
  color: #020202;
}

/* form de nuevo producto */
#nuevo-producto {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

#nuevo-producto h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

#nuevo-producto input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

#nuevo-producto button {
  padding: 10px 20px;
  background-color: #b61b70;
  color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#nuevo-producto button:hover {
  background-color: #6e0060;
}

/* form de modificar producto */
#modificar-producto {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

#modificar-producto h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

#modificar-producto label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

#modificar-producto input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

#modificar-producto button {
  padding: 10px 20px;
  background-color: #8f6414;
  color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#modificar-producto button:hover {
  background-color: #5e3f06;
}
